/2025-code-craft-preliminary/cpp/cmake*
.idea

/2025-code-craft-preliminary/cpp/code_craft
/2025-code-craft-preliminary/replay/
/2025-code-craft-preliminary/*.zip
/2025-code-craft-preliminary/debug.txt
/2025-code-craft-preliminary/result.txt

/2025-code-craft-preliminary/data/